@page "/"

<PageTitle>Index</PageTitle>

<h1>Here's the editor</h1>

Watch as the content disappears after init.

<Editor JsConfSrc="editorConfig" />

<button onclick="tinymce.activeEditor.setContent('<b>testy testy</b>')">click to set some nonsense in the editor</button>